.field, .field-value, .field-unit, .field-dialog-button {
  font-size: 16;
  vertical-align: center;
}

.field, .field-unit {
  color: #3c3c3c;
}

.field-value, .field-dialog-button {
  color: #808080;
  text-align: right;
}
